// .contain-edit-profile {
//     display: grid;
//     grid-template-columns: auto auto;
//     justify-content: center;
//     gap: 50px;
//     align-items: center;
//     align-content: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%);
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     height: 80%;
//     width: 60%;
//     padding: 20px;
//     border-radius: 10px;
//     text-align: center;
//     margin-top: 20px;
//     border: 2px solid #45a049;
// }

// .img-h {
//     text-align: center;
// }

// .img-home {
//     height: 500px;
// }

// h1 {
//     font-size: 30px;
// }

// à¹‰h3 {
//     font-size: 30px;
// }

// .btn-home-more {
//     background-color: teal;
//     border-radius: 20px;
//     padding: 0px 7px;
//     font-size: 18px;
//     color: white;
//     border: none;
// }

// .text-h {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }

// .personal-info {
//     text-align: center;
// }

// .personal-info img {
//     width: 200px;
//     height: auto;
//     border-radius: 50%;
//     margin-bottom: 20px;
// }

// .personal-info h2 {
//     font-size: 24px;
// }

// .personal-info p {
//     font-size: 18px;
//     margin-bottom: 10px;
// }

// .btn-primary {
//     background-color: #0056b3;
//     color: white;
//     border: none;
//     border-radius: 20px;
//     padding: 10px 20px;
//     font-size: 16px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     margin-top: 10px;
// }

// .btn-primary:hover {
//     background-color: #006ce0;
// }

// .form-control-file {
//     margin-top: 10px;
// }

// .btn-cancel {
//     background-color: rgb(128, 0, 0);
//     color: white;
//     border: none;
//     border-radius: 20px;
//     padding: 10px 20px;
//     font-size: 16px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     margin-top: 10px;
// }
// .btn-cancel:hover {
//     background-color: rgb(228, 41, 41);
// }
// .dropdown {
//     margin-bottom: 20px;
// }

// .dropdown label {
//     font-size: 18px;
//     margin-right: 10px;
// }

// .dropdown select {
//     font-size: 18px;
//     padding: 8px;
//     border-radius: 5px;
//     width: 500px;
// }