<div class="contain-edit-profile">
    <div class="text-h">
        <div class="personal-info">
            <img src="../assets/teacher.jpg" alt="Profile Picture">
            <form method="post" (ngSubmit)="updateProfile()" #editForm="ngForm">
                <div class="dropdown" *ngIf="ProfileUpdate.role === 'teacher'">
                    <label for="title-dropdown" style="font-size: 22px;">คำนำหน้า :</label><br>
                    <select id="title-dropdown" name="title" [(ngModel)]="ProfileUpdate.title">
                        <option value="อ.">อ.</option>
                        <option value="อ.ดร.">อ.ดร.</option>
                        <option value="ดร.">ดร.</option>
                        <option value="ผศ.ดร.">ผศ.ดร.</option>
                        <option value="ศ.ดร.">ศ.ดร.</option>
                    </select>
                </div>
                <div class="dropdown" *ngIf="ProfileUpdate.role === 'student'">
                    <label for="title-dropdown" style="font-size: 22px;">คำนำหน้า :</label><br>
                    <select id="title-dropdown" name="title" [(ngModel)]="ProfileUpdate.title">
                        <option value="นาย">นาย</option>
                        <option value="นางสาว">นางสาว</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fullname" style="font-size: 22px;">ชื่อ :</label>
                    <input type="text" class="form-control" id="fullname" name="fname" [(ngModel)]="ProfileUpdate.fname" placeholder="ระบุชื่อ">
                </div>
                <div class="form-group">
                    <label for="lastname" style="font-size: 22px;">สกุล :</label>
                    <input type="text" class="form-control" id="lastname" name="lname" [(ngModel)]="ProfileUpdate.lname" placeholder="ระบุสกุล">
                </div>
                <div class="form-group">
                    <label for="password" style="font-size: 22px;">รหัสผ่าน:</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="ProfileUpdate.password" placeholder="ระบุรหัสผ่าน">
                </div>
                <button type="submit" class="btn btn-primary"><i class="far fa-edit"></i> บันทึกข้อมูล</button><br>
                <a routerLink="/profile"><button type="button" class="btn-cancel"><i class="fas fa-arrow-alt-circle-left"></i> ยกเลิก</button></a>
            </form>
        </div>
    </div>
</div>



<!-- <div class="form-group">
                    <label class="form-control-file">เลือกรูปโปรไฟล์ใหม่:</label><br>
                    <input type="file" class="form-control-file" id="profile-picture" name="profilePicture">
                </div> -->