<!-- reset-password.component.html -->

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h1 class="card-title text-center mb-4">Reset Password</h1>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="newPassword" class="form-label fs-5">New Password:</label>
              <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" class="form-control form-control-lg" placeholder="Enter new password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">
              <i class="fas fa-key me-2"></i> Reset Password
            </button>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success mt-3">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
  