<div class="contain-recognition">
    <div class="text-recognition">
        <h3>จัดการรูปภาพสำหรับการรู้จำใบหน้า</h3>
        <a routerLink="/recognition"> 
            <button class="btn-recognition-add">
                <i class="fas fa-camera-retro"></i> เพิ่มรูปภาพการรู้จำใบหน้า
            </button>
        </a>
        <table>
            <thead>
                <tr>
                    <th>รายการที่</th>
                    <th>รูปภาพ</th>
                    <th>หมายเหตุ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of userDataStudent; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                        <img [src]="student.img_path" alt="Student Image" width="150">
                    </td>
                    <td>
                        <button class="btn-delete" (click)="deleteImage(student.img_id)">ลบ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
