<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo"><i class="far fa-eye"></i>ระบบสแกนใบหน้าเข้าเรียน</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': menuOpen}" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/" >
                <i class="fas fa-home"></i> หน้าหลัก
            </a>
        </li>
        <li class="nav-item" *ngIf="!userData">
            <a class="nav-link" routerLink="/login">
                <i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'teacher'">
            <a class="dropdown-item" routerLink="/checklist-manage">
                <i class="far fa-calendar-check"></i> จัดการรายการเช็คชื่อ
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'student'">
            <a class="dropdown-item" routerLink="/checklist-manage">
                <i class="fas fa-check-square"></i> รายการเช็คชื่อ
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'teacher'">
            <a class="dropdown-item" routerLink="/subject-manage">
                <i class="fas fa-book"></i> รายวิชา
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'teacher'">
            <a class="dropdown-item" routerLink="/student-manage">
                <i class="fas fa-user-edit"></i> ข้อมูลนิสิต
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'student'">
            <a class="dropdown-item" routerLink="/recognition-manage">
                <i class="fas fa-camera-retro"></i> การรู้จำใบหน้า
            </a>
        </li>
        <li *ngIf="userData && userData.role === 'teacher'">
            <a class="dropdown-item" routerLink="/report">
                <i class="fas fa-print"></i> รายงานผลการเข้าเรียน
            </a>
        </li>
        <li class="nav-item" *ngIf="userData">
            <a class="nav-link" routerLink="/profile">
                <i class="fas fa-user"></i> ข้อมูลส่วนตัว
            </a>
        </li>
        <li class="nav-item" *ngIf="userData">
            <a class="nav-link" (click)="logout()" style="cursor: pointer; color: #ffffff; margin-right: 5px;">
                <i class="fas fa-sign-out-alt"></i> ออกจากระบบ
            </a>
        </li>
      </ul>
    </div>
  </nav>
