.navbar {
  width: 100%; /* กำหนดความกว้างของ navbar ให้เต็มจอ */
  padding-left: 0; /* เอา padding ฝั่งซ้ายออก */
  padding-right: 0; /* เอา padding ฝั่งขวาออก */
}

.container {
  max-width: 100%; /* กำหนดความกว้างของ container ให้เต็มจอ */
  padding-left: 0; /* เอา padding ฝั่งซ้ายออก */
  padding-right: 0; /* เอา padding ฝั่งขวาออก */
}


/* ปรับปรุงสไตล์ของ offcanvas */
.offcanvas {
  background-color: #007bff; /* สีพื้นหลังของ offcanvas */
}

.offcanvas-header {
  background-color: #007bff; /* สีพื้นหลังของ offcanvas header */
}

.nav-link {
  color: #ffffff; /* สีข้อความใน offcanvas เป็นสีขาว */
}

i{
  margin-right: 5px;
}

/* ขยายขนาดตัวอักษรและ padding ของเมนูในโหมด responsive */
@media (max-width: 992px) { /* ปรับแต่งเฉพาะสำหรับหน้าจอที่มีความกว้าง 992px หรือน้อยกว่า */
  .offcanvas-body {
    padding: 2rem; /* เพิ่มระยะห่างภายในของ offcanvas */
  }

  .navbar-nav {
    font-size: 1.5rem; /* ขนาดตัวอักษรของเมนูใน offcanvas */
  }

  .nav-link {
    padding: 1.25rem; /* เพิ่มระยะห่างรอบๆ เมนู */
  }
}

@media (max-width: 768px) { /* ปรับแต่งเพิ่มเติมสำหรับหน้าจอที่มีความกว้าง 768px หรือน้อยกว่า */
  .navbar-nav {
    font-size: 1rem; /* ขนาดตัวอักษรของเมนูใน offcanvas สำหรับหน้าจอที่เล็ก */
  }

  .nav-link {
    padding: 1.5rem; /* เพิ่มระยะห่างรอบๆ เมนู */
  }
}
