<div class="container">
    <h1>จัดการรายวิชา</h1>
    <ul class="subject">
        <li *ngFor="let subject of subjects">
            <div class="subject-item">
                <h2>{{ subject.subject_name }} ({{ subject.subject_engname }})</h2>
                <div class="detail"><strong>รหัสวิชา : </strong>{{ subject.id_subject }}<br>
                    <strong>เวลาเรียน : </strong>{{ subject.time_start }} - {{ subject.time_end }}<br>
                    <p><strong>อาจารย์ผู้สอน : </strong>{{ subject.title }} {{ subject.fname }} {{ subject.lname }}</p>
                </div>

                <a routerLink="/subject-detail"><button class="btn-detail"><i class="fas fa-info-circle"></i> ดูรายละเอียด</button></a>
                <button class="btn-edit" (click)="updateSubject(subject)"><i class="far fa-edit"></i> แก้ไข</button>
                <button class="btn-delete" (click)="deleteSubject(subject.subject_id)"><i class="fas fa-trash-alt"></i> ลบ</button>
            </div>
        </li>
    </ul>
    <a routerLink="/subject-add"><button class="btn-add"><i class="far fa-plus-square"></i> เพิ่มรายวิชา</button></a>
</div>