body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #45a049;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-btn {
    margin-bottom: 20px;
    text-align: center;
}
.form-group select {
    width: calc(100% - 20px); 
    font-size: 18px;
}

label {
    display: block;
    font-weight: bold;
}

textarea,
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-add {
    padding: 10px 20px;
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-add:hover {
    background-color: #5e5e5e;
}

.btn-back {
    padding: 10px 20px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-back:hover {
    background-color: rgb(228, 41, 41);
}

.dropdown {
    margin-bottom: 20px;
}

.dropdown label {
    font-size: 18px;
    margin-right: 10px;
}

.dropdown select {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}