<div class="container-import">
    <h2>นำเข้าข้อมูลนิสิต</h2>
    <form>
        <div class="form-group">
            <label style="margin-bottom: 10px; font-size: 24px;">เลือกไฟล์เพื่อนำเข้าข้อมูล</label><br>
            <input type="file" class="form-control-file" id="fileInput" name="file" required accept=".xlsx, .xls" style="font-size: 24px;" (change)="onFileSelected($event)"><br>
            <small style="color: red; font-size: 24px;">*โปรดเลือกไฟล์ Excel (.xlsx, .xls) เท่านั้น</small>
        </div>
        <button type="button" class="btn-add" (click)="uploadFile()" [disabled]="isLoading">
            <i class="fas fa-file-import"></i> อัปโหลด
        </button><br>
        <button class="btn-back">
            <a [routerLink]="'/student-manage'"><i class="far fa-arrow-alt-circle-left"></i> ย้อนกลับ</a>
        </button>
    </form>
    <div *ngIf="isLoading" class="loading-spinner">
        <div class="spinner"></div>
        <p>กำลังอัปโหลดข้อมูล...</p>
    </div>
</div>
