// .contain-report {
//     display: grid;
//     grid-template-columns: auto auto;
//     justify-content: center;
//     // gap: 50px;
//     // align-items: center;
//     // align-content: center;
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     // margin-right: -50%;
//     // transform: translate(-50%, -50%)
// }

// .btn-report-week {
//     background-color: #45a049;
//     border-radius: 15px;
//     padding: 5px 10px;
//     font-size: 18px;
//     color: white;
//     border: none;
// }

// .btn-report-all {
//    background-color: #0056b3;
//    border-radius: 15px;
//    padding: 5px 10px;
//    font-size: 18px;
//    color: white;
//    border: none;
//    margin-left: 10px;
// }

// .text-h {
//     text-align: left;
//     margin-top: 10px;
// }

// .img-h {
//     text-align: center;
// }

// .img-home {
//     height: 500px;
// }

// h1 {
//     font-size: 50px;
// }

// à¹‰h3 {
//     font-size: 30px;
// }

// table {
//     width: 1080px;
//     border-collapse: collapse;
//     margin-top: 10px;
//     border-radius: 10px;
//     overflow: hidden;
// }

// th,
// td {
//     border: 1px solid #ddd;
//     padding: 8px;
//     text-align: center;
// }

// th {
//     background-color: #45a049;
//     font-weight: bold;
//     color: #fff;
// }

// tbody tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

// tbody tr:hover {
//     background-color: #ddd;
// }

// a {
//     color: #000;
// }

// .btn-export {
//     background-color: rgb(128, 0, 0);
//     border-radius: 15px;
//     padding: 5px 10px;
//     font-size: 18px;
//     color: white;
//     border: none;
// }

// .dropdown {
//     margin-bottom: 20px;
//     margin-top: 20px;
// }

// .dropdown label {
//     font-size: 18px;
//     margin-right: 10px;
// }

// .dropdown select {
//     font-size: 18px;
//     padding: 8px;
//     border-radius: 5px;
// }