// .contain-add-data {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 80vh;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     border-radius: 10px;
//     background-color: #f9f9f9;
//     width: 50%;
//     text-align: center;
//     border: 2px solid #45a049;
// }


// // .text-h{
// //     text-align: left;
// // }
// .img-h {
//     text-align: center;
// }

// .img-home {
//     height: 500px;
// }

// h1 {
//     font-size: 40px;
// }

// à¹‰h3 {
//     font-size: 30px;
// }

// .btn-home-more {
//     background-color: teal;
//     border-radius: 20px;
//     padding: 0px 7px;
//     font-size: 18px;
//     color: white;
//     border: none;
// }

// .text-h {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }

// .personal-info {
//     text-align: center;
// }

// .personal-info img {
//     width: 200px;
//     height: auto;
//     border-radius: 50%;
//     margin-bottom: 20px;
// }

// .personal-info h2 {
//     font-size: 24px;
// }

// .personal-info p {
//     font-size: 18px;
//     margin-bottom: 10px;
// }

// .btn-add {
//     padding: 10px 20px;
//     background-color: #777777;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 16px;
//     margin-top: 10px;
// }

// .btn-add:hover {
//     background-color: #5e5e5e;
// }

// .btn-back {
//     padding: 10px 20px;
//     background-color: brown;
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 16px;
//     margin-top: 10px;
// }

// .btn-back:hover {
//     background-color: rgb(228, 41, 41);
// }


// .form-control {
//     width: 500px;
//     padding: 10px;
//     font-size: 18px;
//     margin-bottom: 10px;
// }

// .form-control-file {
//     margin-top: 10px;

// }

// .btn-cancel {
//     background-color: rgb(128, 0, 0);
//     color: white;
//     border: none;
//     border-radius: 20px;
//     padding: 10px 20px;
//     font-size: 20px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     margin-top: 10px;
// }