// .Detection-container {
//   max-width: 800px;
//   margin: 0 auto;
//   text-align: center;
//   padding: 20px;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   background-color: #f0f0f0;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .video-container {
//   position: relative;
//   margin-top: 20px;
// }

// video {
//   width: 100%;
//   max-width: 720px;
//   height: auto;
//   display: block;
//   margin: 0 auto;
//   border-radius: 8px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

// canvas {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none; /* Prevent canvas from capturing mouse events */
// }

// button {
//   display: inline-block;
//   padding: 10px 20px;
//   margin-top: 20px;
//   background-color: #4CAF50;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// button:hover {
//   background-color: #45a049;
// }

// .captured-image-container {
//   margin-top: 20px;
// }
