<div class="contain-student">
    <div class="text-student">
        <h3>จัดการข้อมูลนิสิต</h3>
        <a routerLink="/student-import"><button class="btn-import"><i class="fas fa-file-import"></i> นำเข้าข้อมูลนิสิต</button></a>
        <a routerLink="/student-add"><button class="btn-add" style="margin-left: 10px;"><i class="fas fa-user-plus"></i> เพิ่มข้อมูลนิสิต</button></a>
        <div class="dropdown">
            <label for="subject-dropdown">เลือกรายวิชา : </label>
            <select id="subject-dropdown" name="subject_id" [(ngModel)]="selectedSubjectId" (change)="onSubjectChange($event)">
                <option value="" disabled selected hidden>--กรุณาเลือกรายวิชา--</option>
              <option *ngFor="let subject of subjects" [value]="subject.subject_id">
                {{ subject.subject_name }} ({{ subject.subject_engname }})
              </option>
            </select>
        </div>
        <div class="search-box" *ngIf="selectedSubjectId">
            <label for="search-input">ค้นหานิสิต : </label>
            <input id="search-input" type="text" [(ngModel)]="searchQuery" placeholder="ค้นหารหัสนิสิตหรือชื่อ-สกุล" style="margin-left: 10px;"/>
            <button class="btn-search" (click)="onSearchClick()"><i class="fas fa-search"></i> ค้นหา</button>
            <button class="btn-reset" (click)="onResetClick()"><i class="fas fa-sync-alt"></i> รีเซ็ท</button>
        </div>
        <table *ngIf="selectedSubjectId">
            <thead>
                <tr>
                    <th>รายการที่</th>
                    <th>รหัสนิสิต</th>
                    <th>ชื่อ-สกุล</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of filteredStudents; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ student.std_id }}</td>
                    <td>{{ student.title }}{{ student.fname }} {{ student.lname }}</td>
                    <td>
                        <a class="student-profile" routerLink="/student-profile"><i class="fas fa-user"></i> ดูข้อมูล</a>
                        <button class="student-edit" (click)="UpdateStudent(student)"><i class="fas fa-edit"></i> แก้ไข</button>
                        <button class="student-delete" (click)="deleteStudent(student.std_id)"><i class="fas fa-trash"></i> ลบ</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p *ngIf="selectedSubjectId" style="font-size: 20px;"><strong>จำนวนนักศึกษารวมทั้งหมด : </strong>{{ totalStudents }} คน</p>
    </div>
</div>
