<div class="contain-profile">
  <div class="text-h">
      <h3>ข้อมูลส่วนตัว</h3>
      <div class="personal-info">
          <div *ngFor="let user of users">
              <img [src]="'../assets/teacher.jpg'" alt="Profile Picture">
              <p><strong>ชื่อ : </strong>{{ user.title }} {{ user.fname }} {{ user.lname }}</p>
              <p><strong>Email : </strong>{{ user.email }}</p>
              <button class="btn btn-edit" (click)="updateProfile()">
                  <i class="fas fa-edit"></i> แก้ไขข้อมูลส่วนตัว
              </button><br>
          </div>
      </div>
  </div>
</div>
