// .checklist {
//     list-style-type: none;
//     padding: 0;
// }

// .checklist-item {
//     background-color: #fff;
//     padding: 20px;
//     margin-bottom: 20px;
//     border-radius: 8px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     border: 2px solid #81c784;
//     width: auto;
// }

// h2 {
//     margin-top: 0;
// }

// .btn {
//     display: inline-block;
//     padding: 8px 16px;
//     background-color: gray;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 5px;
//     transition: background-color 0.3s ease;
// }

// .btn:hover {
//     background-color: #0056b3;
// }

// .btn-add {
//     display: inline-block;
//     padding: 10px 20px;
//     margin-left: 20px;
//     background-color:#0056b3;
//     color: white;
//     text-align: center;
//     text-decoration: none;
//     font-size: 16px;
//     border-radius: 5px;
//     border: none;
//     transition: background-color 0.3s;
//     cursor: pointer;
// }

// .btn-add:hover {
//     background-color: #006ce0;
// }

// .btn-detail {
//     display: inline-block;
//     padding: 8px 16px;
//     background-color: #45a049;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 5px;
//     transition: background-color 0.3s ease;
//     border: none;

// }

// .btn-edit {
//     display: inline-block;
//     padding: 8px 16px;
//     background-color: #777777;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 5px;
//     border: none;
//     transition: background-color 0.3s ease;
//     margin-left: 10px;
// }

// .btn-delete {
//     display: inline-block;
//     padding: 8px 16px;
//     background-color: brown;
//     color: #fff;
//     text-decoration: none;
//     border-radius: 5px;
//     border: none;
//     /* ลบ border */
//     transition: background-color 0.3s ease;
//     margin-left: 10px;
// }

// .dropdown {
//     margin-bottom: 20px;
// }

// .dropdown label {
//     font-size: 18px;
//     margin-right: 10px;
// }

// .dropdown select {
//     font-size: 18px;
//     padding: 8px;
//     border-radius: 5px;
// }

/* Custom styles for the checklist management page */
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .list-group-item {
    border-radius: 0.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  .container {
    max-width: 960px;
  }
  .btn-custom-height {
    height: 38px; /* Adjust this value as needed */
    align-self: flex-end;
  }
  