<div class="container-import">
    <h2>แก้ไขรูปภาพโปรไฟล์</h2>
    <form enctype="multipart/form-data">
        <div class="form-group">
            <label style="margin-bottom: 10px; font-size: 24px;">เลือกไฟล์รูปภาพที่ต้องการแก้ไข</label><br>
            <input type="file" class="form-control-file" id="fileInput" (change)="onFileSelected($event)" required accept=".jpg, .jpeg, .png" style="font-size: 24px;"><br>
            <small style="color: red; font-size: 24px;">*โปรดเลือกไฟล์รูปภาพ (.jpg, .jpeg, .png) เท่านั้น</small>
        </div>
        <button type="button" class="btn-add" (click)="uploadFile()"><i class="fas fa-file-import"></i> อัปโหลด</button><br>
        <button class="btn-back"><a [routerLink]="'/profile'"><i class="far fa-arrow-alt-circle-left"></i> ย้อนกลับ</a></button>
    </form>
</div>
