// .container-import {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 60vh;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     border-radius: 10px;
//     background-color: #f9f9f9;
//     margin: auto;
//     width: 100vh;
//     text-align: center;
//     border: 2px solid #45a049;
//     align-content: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%)
// }

// h2 {
//     font-size: 50px;
//     margin-bottom: 20px;
// }
// a {
//     text-decoration: none;
//     color: #ffff;
// }

// .form-group {
//     margin-bottom: 20px;
// }

// .btn-add {
//     background-color: #0056b3;
//     padding: 10px 20px;
//     color: #fff;
//     border: none;
//     border-radius: 15px;
//     cursor: pointer;
//     font-size: 24px;
//     margin-top: 10px;
//     width: 60%;
// }
// .btn-add:hover {
//     background-color: #006ce0;
// }
// .btn-back {
//     background-color: brown;
//     padding: 10px 20px;
//     color: #fff;
//     border: none;
//     border-radius: 15px;
//     cursor: pointer;
//     font-size: 20px;
//     margin-top: 10px;
//     width: 60%;
// }

// .btn-back:hover {
//     background-color: rgb(228, 41, 41);
// }
// input[type="file"] {
//     width: 80%;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     font-size: 16px;
//     background-color: #f9f9f9;
// }

// .loading-spinner {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 20px;
// }

// .spinner {
//     border: 4px solid rgba(0, 0, 0, 0.1);
//     width: 36px;
//     height: 36px;
//     border-radius: 50%;
//     border-left-color: #09f;
//     animation: spin 1s linear infinite;
// }

// @keyframes spin {
//     to { transform: rotate(360deg); }
// }

// p {
//     font-size: 24px;
//     margin-top: 10px;
// }
