<div class="container py-5 custom-border-container" style="background-color: white;">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-6 col-md-12">
            <h1 class="display-4">Real-time Face Detection and Recognition</h1>
            <h1 class="display-4">Student Attendance System</h1>
            <h3 class="lead">ระบบบันทึกการเข้าเรียนด้วยการสแกนใบหน้า</h3>
        </div>
        <div class="col-lg-6 col-md-12 d-flex justify-content-center mt-4 mt-md-3 mt-lg-0">
            <img src="../assets/home-img.png" class="img-fluid" alt="Home Image">
        </div>
    </div>
</div>
