<div class="container py-5 custom-border-container">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-6">
            <h1 class="display-4">Real-time Face Detection and Recognition</h1>
            <h1 class="display-4">Student Attendance System</h1>
            <h3 class="lead">ระบบบันทึกการเข้าเรียนด้วยการสแกนใบหน้า</h3>
            <a routerLink="/more-page" class="btn btn-primary mt-3">
                <i class="fas fa-info-circle"></i> เพิ่มเติม
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="../assets/home-img.png" class="img" alt="Home Image">
        </div>
    </div>
</div>
