// .contain-forget {
//     display: grid;
//     grid-template-columns: auto auto;
//     justify-content: center;
//     gap: 50px;
//     align-items: center;
//     align-content: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%);
// }

// .text-forget {
//     text-align: left;
//     margin-right: 200px;
//     margin-left: 5px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     height: auto;
//     padding: 20px;
//     border-radius: 10px;
//     width: 80%;
//     margin-top: 20px;
//     text-align: center;
//     border: 2px solid teal;
//     font-size: 24px;
// }

// .img-h {
//     text-align: center;
// }

// .img-home {
//     height: 600px;
// }

// h1 {
//     font-size: 40px;
// }

// à¹‰h3 {
//     font-size: 30px;
// }

// .btn-submit {
//     background-color: teal;
//     border-radius: 20px;
//     padding: 0px 7px;
//     font-size: 18px;
//     color: white;
//     border: none;
// }

// .btn-forgotpsw {
//     background-color: brown;
//     border-radius: 20px;
//     padding: 5px 30px;
//     font-size: 22px;
//     color: white;
//     border: none;

// }
