<div class="contain-forget">
    <div class="text-forget">
        <h1>ลืมรหัสผ่าน</h1>
        <form action="">
            <label for="email" style="font-size: 22px;">Email :</label><br>
            <input type="text" id="email" name="email" placeholder="ระบุอีเมล"><br><br>
            <a routerLink="/change-password"><button type="button" class="btn-forgotpsw"
                    onclick="alert('ทำการส่ง link รีเซ็ตรหัสผ่านไปที่ email ของคุณแล้ว !')">ลืมรหัสผ่าน</button></a>
        </form>
    </div>
    <div class="image-h">
        <img src="../assets/home-img.png" class="img-home">
    </div>
</div>